<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.babylonshopapp">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.BabylonShopApp">
        <activity android:name=".CheckoutActivity"></activity>
        <activity android:name=".OutdoorProductsActivity" />

        <receiver android:name=".MyReceiver">
            <intent-filter>
                <action android:name="com.abc.WELCOME_INTENT"/>
            </intent-filter>
        </receiver>

        <activity android:name=".EditProfileActivity"></activity>
<!--        <activity android:name=".OutdoorProductsActivity" />-->
        <activity
            android:name=".TableChairProductsActivity"
            android:label="@string/title_activity_table_chair_products">

        </activity>
        <activity android:name=".BathroomProductsActivity" />
        <activity
            android:name=".KitchenProductsActivity"
            android:label="@string/title_activity_kitchen_products">
        </activity>
        <activity android:name=".LivingRoomProductsActivity" />
        <activity android:name=".BedroomsProductsActivity" />
        <activity android:name=".HomeActivity" />
        <activity android:name=".RegisterActivity" />
        <activity android:name=".LoginActivity"/>
        <activity android:name=".MainActivity">
<!--            change the Home into main when you finish-->
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

    <uses-feature android:name="android.hardware.type.watch" />

    <uses-permission android:name="android.permission.WAKE_LOCK" />

</manifest>